body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  h1 {
    color: #d7935c;
    font-size: 48px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  h2 {
      color: #d7935c;
      font-size: 25px;
      margin-top: 0px;
      margin-bottom: 20px;
  }

  p {
    color: #6d6d6d;
    font-size: 24px;
    text-align: center;
  }
  
  label {
    display: block;
    color: #d7935c;
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    background-color: #f2f2f2;
    border: solid;
    border-radius: 5px;
    box-sizing: border-box;
    color: #6d6d6d;
    font-size: 20px;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #d7935c;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 24px;
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 70px;
    cursor: pointer;
  }

  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #da9b67ec;
    border-radius: 15px;
  }
  
  img {
    margin-right: 20px;
    border-radius: 15px;
  }
  
  pre {
    color: #6d6d6d;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    text-align: center;
  }
  
  ol {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    color: #6d6d6d;
    display: block;
    font-size: 24px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  li a:hover {
    background-color: #d7935c;
    color: #fff;
  }

  .P-subtest {
    color: #cf6d1d;
    align-content: left;
    background-color: #f7f2ee;
  }

  #buttonselect{
    width: 150px;
    height: 50;
    text-align: center;
    padding: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
  }
  select {
    color: black;
    font-size: 18px;
    width: 240px;
    height: 50px;
    border-radius: 5%;
    border-style: solid;
    padding: 7px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  select::-webkit-scrollbar {
    width: 10px;
  }
  select::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  select::-webkit-scrollbar-thumb {
    background: #888;
  }
  select::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  
  select::-webkit-scrollbar-horizontal {
    height: 10px;
  }
  select::-webkit-scrollbar-thumb:horizontal {
    background-color: #888;
  }
  select::-webkit-scrollbar-thumb:horizontal:hover {
    background-color: #555;
  }
  
  select:focus {
    outline: none;
    box-shadow: 0 0 5px black;
  }
  